
:root{
    --border-color: #666;
}

header{
    height: 2em
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    height: 80vh;
    justify-content: center;
    justify-items: stretch;
    margin: 0 auto;
    max-width: 120em;
}


.infoIcon{
    height: 2em;
    width: 2em;
    float: right;
    margin: .4em;
    color: violet;
}



.input, .output{
    display: grid;
    grid-template-columns: 25em auto;
    grid-template-rows: 4em auto;
    column-gap: 1em;
    margin-right: 1em;
}

.inputOutputHeader{
    grid-column: 1 / -1;
    text-align: center;
}

.sortOptions, .outputOptions{
    column-gap: 1em;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: max-content max-content 1fr;
    margin: 1em;
    align-items: center;
}

.inOutAreas{
    border: 0.01em var(--border-color) solid;
    font-size: large;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.inputArea{
    display: none;
}

#inputTextArea{
    border-color: blue;
    display: unset;
}

#inputEditableDiv{
    border-color: red;
}

/*ANCHOR output*/
.output{
    grid-template-columns: 25em auto auto;
}

.calculateBtn{
    background-color: #13c213;
    width: 100%;
    grid-column: 1 / -1;
    height: 3em;
    font-size: larger;
    font-weight: 600;
    color: white;
}

.calculateBtn:active{
    background-color: #0e920e;
}


.credit{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
}