
:root{
    --border-color: #666;
}



main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    height: 80vh;
    justify-content: center;
    justify-items: stretch;
    margin: 0 auto;
    max-width: 120em;
}


.input, .output{
    display: grid;
    grid-template-columns: 25em auto;
    grid-template-rows: 4em auto;
}

.inputOutputHeader{
    grid-column: 1 / -1;
    text-align: center;
}

.sortOptions, .outputOptions{
    column-gap: 1em;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: max-content max-content 1fr;
    margin: 1em;
    align-items: center;
}

.inOutAreas{
    border: 0.01em var(--border-color) solid;
    font-size: large;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.output{
    grid-template-columns: 25em auto auto;
}

.calculateBtn{
    background-color: rgb(19, 194, 19);
    width: 100%;
    grid-column: 1 / -1;
    height: 3em;
    font-size: larger;
    font-weight: 600;
    color: white;
}

.calculateBtn:active{
    background-color: #0e920e;
}